src/camunda-session-manager/client_session_manager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="org.loopingdoge.acme.jolie.sessionmanager.wsdl" xmlns:tns="org.loopingdoge.acme.jolie.sessionmanager.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd1="org.loopingdoge.acme.jolie.sessionmanager.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="org.loopingdoge.acme.jolie.sessionmanager.xsd" xmlns:sch="org.loopingdoge.acme.jolie.sessionmanager.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="informPaymentDone"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="processId" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="bankOpId" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="informPaymentDoneResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="message" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="getSessions"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="username" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:complexType name="SessionType"><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="nextUser" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="processId" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="state" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="getSessionsResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="message" type="xs:string"/><xs:element maxOccurs="unbounded" minOccurs="0" name="sessions" type="sch:SessionType"/></xs:sequence></xs:complexType></xs:element><xs:element name="informDepositDone"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="processId" type="xs:string"/><xs:element maxOccurs="1" minOccurs="1" name="bankOpId" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="informDepositDoneResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="message" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="SessionGetResponse">
    <wsdl:part name="body" element="xsd1:getSessionsResponse"/>
  </wsdl:message>
  <wsdl:message name="InformPaymentElement">
    <wsdl:part name="body" element="xsd1:informPaymentDone"/>
  </wsdl:message>
  <wsdl:message name="InformPaymentResponse">
    <wsdl:part name="body" element="xsd1:informPaymentDoneResponse"/>
  </wsdl:message>
  <wsdl:message name="InformDepositResponse">
    <wsdl:part name="body" element="xsd1:informDepositDoneResponse"/>
  </wsdl:message>
  <wsdl:message name="InformDepositElement">
    <wsdl:part name="body" element="xsd1:informDepositDone"/>
  </wsdl:message>
  <wsdl:message name="SessionElementGet">
    <wsdl:part name="body" element="xsd1:getSessions"/>
  </wsdl:message>
  <wsdl:portType name="ClientSessionServer">
    <wsdl:operation name="informPaymentDone">
      <wsdl:input message="tns:InformPaymentElement"/>
      <wsdl:output message="tns:InformPaymentResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getSessions">
      <wsdl:input message="tns:SessionElementGet"/>
      <wsdl:output message="tns:SessionGetResponse"/>
    </wsdl:operation>
    <wsdl:operation name="informDepositDone">
      <wsdl:input message="tns:InformDepositElement"/>
      <wsdl:output message="tns:InformDepositResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientSessionServerSOAPBinding" type="tns:ClientSessionServer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http/"/>
    <wsdl:operation name="informPaymentDone">
      <soap:operation soapAction="informPaymentDone" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessions">
      <soap:operation soapAction="getSessions" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="informDepositDone">
      <soap:operation soapAction="informDepositDone" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientSessionServerService">
    <wsdl:port name="ClientSessionServerServicePort" binding="tns:ClientSessionServerSOAPBinding">
      <soap:address location="http://localhost:8845"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
